<div class="contact-header">
    <h1>Contact Me</h1>
  </div>
  
  <div class="contact-details">
    <button class="back-button" (click)="goBack()">← Back to Home</button>
    <div class="contact-item">
      <i class="icon icon-email"></i>
      <span>Email: anumalempati99&#64;gmail.com</span>
    </div>
    <div class="contact-item">
        <i class="icon icon-phone"></i>
        <span> Phone: +1 (413)-263 9033</span>
    </div>
    <div class="contact-item">
        <i class="icon icon-location"></i>
        <span>Address: Jersey City, NJ 07306</span>
    </div>

  </div>


