<div class="achievements-container">
    <h2 class="section-title">Achievements</h2>
    <div class="achievement-section">
      <h3 class="achievement-title">Honors</h3>
      <ul class="achievement-list">
        <li>🏅Upsilon Pi Epsilon (UPE) International Honor Society for Computing and Information.</li>
        <li>🥇Outstanding Academic and Leadership Excellence Award for Best Academic Performance.</li>
        <li>💎Exceptional Contributions in International Event Organization and Expert Talks.</li>
      </ul>
    </div>
    <div class="achievement-section">
      <h3 class="achievement-title">Education</h3>
      <ul class="achievement-list">
        <li>🎓Master of Science in Computer Science
            Sacred Heart University, Connecticut, USA | 03/2022 - 06/2023
            </li>
        <li>🎓Bachelor in Electronics and Communication Engineering Saveetha University, Chennai, Tamil Nādu, India | 08/2016 - 02/2020

        </li>
      </ul>
    </div>
    <div class="achievement-section">
      <h3 class="achievement-title">Certifications</h3>
      <ul class="achievement-list">
        <li>Front-End Web Development with .NET Work with data in Blazor</li>
        <li>Advanced C# and .NET Development Mastery</li>
        <li>Comprehensive Angular Framework Proficiency</li>
      </ul>
    </div>
    <button class="back-button" (click)="goBack()">Back to Home</button>
  </div>
  