<div class="home-container">
    <div class="profile-section">
      <img src="assets/picture.jpg" alt="Anusha Malempati" class="profile-photo">
      <div class="profile-info">
        <h2>Anusha Malempati</h2>
        <p>I am a dynamic .NET Developer with over 3 years of experience in full-stack development. I specialize in building scalable, high-performance web applications that enhance user experiences.</p>
      </div>
    </div>
    
    <div class="home-links">
      <a routerLink="/resume" class="btn">View Resume</a>
      <a routerLink="/achievements" class="btn">Achievements</a>
      <a routerLink="/contact" class="btn">Contact Me</a>
    </div>
  </div>